{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('app_loginVerification') }}" method="POST">
        <div>
            <label for="mail">Mail :</label>
            <input type="text" id="mail" name="mail" required>
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>
{% endblock %}
