{% extends 'base.html.twig' %}

{% block body %}
<body>
    <div class="flex flex-col items-center justify-center text-center">
        <div>
            <h1>Bonjour</h1>
            <p class="text-white">Cette page est vide pour le moment</p>
        </div>
    </div>
</body>
{% endblock %}