<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fédération National des Mangeurs{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
   
    <body style="background-color: #1b1b1b;overflow: hidden;">
        {% include '_layout/navbar.html.twig' %}
        <div class="mise_en_page text-3xl" style="background: linear-gradient(to bottom, #F2B416 , #000000 );padding-bottom: 50%;justify-content: center;align-items: center;flex-direction: column;">
                {% block body %}
            
                {% endblock %}
        </div>
    </body>
</html>
